

body{

		background-color: purple;
		
}


/*p.two {
		border-style: solid;
		border-width: medium;*/

	}

		h5{
					margin-left: 100px;
					

		}
/* text color*/
		p,h5,h2,h4,h3{

			color: white;
		}



h4,h2,h5,h3{

	text-align: center;

	
}


p{

	margin-left: 100px;


}



































}